<div>
  <form action="" method="post">
    <label for="">Api translate
      <input type="text" placeholder="inscris ton texte a traduire..." name="userText" id="userText"/>

    </label>
    <input type="submit" value="">

  </form>
  
</div>