<div>
  <form action="http://localhost:3000/translate" method="post">
    <label for="">Api translate
      <input type="text" placeholder="inscris ton texte a traduire..." name="texte" id="texte" value=""/>
      <input type="text" placeholder="language ex:'FR'" name="langue" id="langue" value=""/>

    </label>
    <input type="submit" >

  </form>
  
</div>